@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}



// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     transition: background-color 5000s ease-in-out 0s;
// }

.section--login--container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
//   background-color: blueviolet;
// background: url('../../assets/wallpaperflare.com_wallpaper.jpg');
background: url('../../Img/blackBGVECTOR.jpg');
background-color: transparent;
background-position: center;
background-size: cover;

  .form--box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    // background-color: red;
    background-color: transparent;
    border: 2px solid rgba(255,255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;

    .form--value {
      height: min(95%,500px);
      .h2-LogIn {
        color: #f6f9fb;
        text-align: center;
        padding: 8px;
        margin: 20px 15px 15px 15px;
        font-size: 2.8em;
      }
      // .input:-webkit-autofill {
      //   -webkit-box-shadow: 0 0 0 1000px white inset !important;
      //   -webkit-text-fill-color: red !important;
      //   background-color: transparent !important;
      //   background: none !important;
      // }

      .input--Box {
        position: relative;
        margin: 35px 10px 25px 10px;
        width: 310px;
        border-bottom: 2px solid #f6f9fb;
        // border: 1px solid rgb(255, 2, 112);
        background-color: none;
        background: none;


        & label {
          position: absolute;
          top: -8px;
          left: 5px;
          // transform: translateY(-50%);
          color: #f6f9fb;
          font-size: 1em;
          pointer-events: none;
          padding:  5px 0;
        //   transition: 0.5s;
        }

        //   input:focus ~ label,
        //   input:valid  ~ label,
        //   input:not(:invalid) 
        //   {
        //   top: -5px;
        // }

        & .ion-icon {
            position: absolute;
            right: 8px;
            font-size: 1.4em;
            top: 15px;
            color: #f6f9fb;
        }
        & input {
          width: 100%;
          height: 50px;
          background: transparent !important;
          border: none;
          outline: none;
          font-size: 1em;
          padding: 15px 35px 0 5px;
          color: #ed02ca;
        }
      }

      .forget {
        margin: -15px  0 15px;
        font-size: .9em;
        color: #f6f9fb;
        display: flex;
        justify-content: center;
        align-items: center;

        & label input {
            margin-right: 3px; 
        }

        & label a {
            color: #f6f9fb;
            text-decoration: none;
        }

        & label a:hover{
            
            text-decoration: underline;
        }
      }

      .register {
        font-size: .9em;
        color: #f6f9fb;
        text-align: center;
        margin: 18px 0 10px;

        .btn--LogIn {
        
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background: #f6f9fb;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        margin: 20px 0 10px 0;
        font-weight: 600;  

          &:hover{
            color: #ed02ca;
            background: #254f6c;
          }
        }

        
        & p a {
            text-decoration: none;
            color: #f6f9fb;
            font-weight: 600;
            margin: 10px;

        }

        & p a:hover {
            text-decoration: underline;
        }

        & [disabled] {
          cursor: not-allowed;
          opacity: 0.5;
          /* any other styles you want to apply to a disabled button */
        }
        
        & [disabled]:hover {
          /* remove any hover styles */
          background-color: #f6f9fb;
          color: #302e24;
          // color: inherit;
          /* any other hover styles you want to remove */
        }
      }
    }
  }
}
