/* Set content for font-families */
@use "sass:meta";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap');

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;


// [Section] Fonts

$header-font: 'Poppins', sans-serif;
$content-font: 'Source Serif Pro', serif;



:root {
    // !! COLORS
    --primary: #{$primary};
    --accent: #{$accent};
    --warn: #{$warn};
    --headerfont-color: #{$headerfont-color};
    --contentfon-color: #{$contentfont-color};

    // !! FONTS
    --header-font: #{meta.inspect($header-font)};
    --content-font: #{meta.inspect($content-font)};
}

.ql-font-arial,
.ql-font span[data-value="arial"]::before {
    font-family: Arial, sans-serif;
}

.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
    font-family: "Courier New";
}

.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
    font-family: Georgia, serif;
}

.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
    font-family: Helvetica, sans-serif;
}

.ql-font-Inter,
.ql-font span[data-value="Inter"]::before {
    font-family: 'Inter', sans-serif;
}

.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.ql-font-poppins,
.ql-font span[data-value="poppins"]::before {
    font-family: 'Poppins', sans-serif;
}
.ql-font-source-serif-pro ,
.ql-font span[data-value="source-serif-pro"]::before {
    font-family: 'Source Serif Pro', serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
    font-size: 13px !important;
}

.ql-size-small,
.ql-size span[data-value="small"]::before {
    font-size: 14px !important;
}

.ql-size-medium,
.ql-size span[data-value="medium"]::before {
    font-size: 18px !important;
}

.ql-size-large,
.ql-size span[data-value="large"]::before {
    font-size: 20px !important;
}

.container--ql {
    overflow-y: scroll; 
    /* border: solid 2px red; */
}
.ql-editor {
    min-height: 50vh !important;
    font-size: 16px;
    /* border: solid 2px red; */

    
}

.App{
    overflow-x: hidden;
}
.App .ql-snow .ql-tooltip.ql-flip {
    width: auto;
    left: 17px !important;
    white-space: normal;
}

@page {
    margin: 1in;
}

/* prevents auto adjusting of height for Add editor */
.toolbar__overflowY{
    overflow-y: scroll !important;
    max-height: 400px;
    border: solid 1px gray;
}
/* end */

@media print {
    body {
        background: none;
    }

    
    .container-editor .ql-editor .my-component{
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
        overflow: scroll;
        
    }

    .container-editor .ql-toolbar.ql-snow {
        display: none;
        height: 400px;
            /* Replace with your desired height */
        overflow-y: scroll;
    }
}

.container-editor{
    margin: 2rem;
}

/* div Side */
.div--editor-side-menu{
    // position:relative;
    padding: 15px;
    .div--h1-Publish{
        // position:absolute;
        background-color: #ABFE7C;
        // height: 15%;
        // left: -16px;
        // right: -16px;
        // overflow: hidden;
        
        
    }
    
    .div--editor-side-item{
        
        .side-item-status{
            
            padding: 5px;
            // border: solid 2px yellow;
        }

        
    }

    .div--btn--editor--side{
        display: flex;
        justify-content: space-between;
    }

    .div--radio--category{
        
        .div__cat{
            padding: 5px 0;
            display: flex;
            align-items: center;
            color
            
            .label__cat{
                margin: 0 10px;
                border: solid 1px violet;
                font-family: var(--header-font);
            }
        }
        
    }
}




