.div-postTable {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  // background-color: aqua;
  border: solid 5px rebeccapurple;
}

.InputSearchTable{
  margin-bottom: 10px; 
  text-align: center; 
  width: min(65%, 1280px) 
}

.antd-tablePost {
  width: min(85%, 1200px);
  //   height: 800px;
  border: solid 2px hotpink;
}

@media screen and (max-width: 767px) {
  .antd-tablePost {
    overflow-x: auto;
    // height: 100%;
    width: min(45%, 475px);
  }

  .InputSearchTable{
    margin-bottom: 10px; 
    text-align: center; 
    width: min(35%, 365px);
  }
}

//spinner
:where(.css-dev-only-do-not-override-mxhywb).ant-spin-nested-loading
  > div
  > .ant-spin
  .ant-spin-dot {
  position: absolute;
  top: 55%;
  inset-inline-start: 50%;
  margin: -18px;
}
