@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");


// [Section] Colors

$primary-main-nav: #05d194;
$primary-main-nav-drk: #04b882;
$accent-main-nav: #53f461;
$warn-main-nav: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;
$gradient-colors: #05d194, #53f461;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;


:root {
  // !! COLORS
  --primary: #{$primary-main-nav};
  --primary-drk: #{$primary-main-nav-drk};
  --accent: #{$accent-main-nav};
  --warn: #{$warn-main-nav};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}


// ! <>

@mixin gradient-background($colors) {
  background: linear-gradient(to right, $colors);
}

.Main-Navbar {
  @include gradient-background($gradient-colors);
  padding: 0 !important;

  .nav-body{
    display: flex;
    justify-content: flex-end;
    // border: solid 2px red;
  }

  // Highlight background for nav link and dropdown
  .Main-Navbar-link:hover,
  .nav-drpdwn-head:hover > a {
    background-color: var(--primary-drk);
    color: gold !important;
  }

  //   dropdown-items
  .dropdown-item {
    // padding: 0;
  }

  // hover style for dropdown item and submenu
  // .dropdown-item:hover,  .main-sub-menu:hover {
  //   background-color: aquamarine;
  // }
  .dropdown-item:hover,  .main-sub-menu:hover {
    background-color: aquamarine;
  }

  //submenu
  .main-sub-menu a{
    padding:4px 16px !important;
    color: #383838;
  }

  // dropdown divider
  .dropdown-divider{
    margin: 0;
  }

  // hover for dropdowns and sub-menu
  .nav-drpdwn-head:hover > .dropdown-menu,
  .main-sub-menu:hover > .dropdown-menu {
    display: block;
  }
}



// Off Canvas

.main-navbar-offcanvas{
  width: min(95vw, 24rem) !important;
}


@media only screen and (max-width: 481px){

  .main-sub-menu{
    word-wrap: normal;
    padding:4px 16px !important;
  } 
  .main-navbar-offcanvas{
    border: red solid 4px;
    overflow-x: auto;
    width: min(95vw, 25rem) !important;
  }

}
// .offcanvas-size-xl {
//   --bs-offcanvas-width: min(95vw, 600px) !important;
// }
// .offcanvas-size-xxl {
//   --bs-offcanvas-width: min(95vw, 90vw) !important;
// }
// .offcanvas-size-md { /* add Responsivenes to default offcanvas */
//   --bs-offcanvas-width: min(95vw, 400px) !important;
// }
// .offcanvas-size-sm {
//   --bs-offcanvas-width: min(95vw, 250px) !important;
// }



// [Section] MEDIA QUERIES

