@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}

.div--ArticleCardContainer {
  // border: #3d1d94 solid 2px;
  margin: 0 auto;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  max-width: 100%;
  margin: 15px;
  border: purple solid 4px;

  .Card--Article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 11rem;
    padding: 10px 12px;
    margin: 10px 5px;
    align-self: normal;
  }
  .Img__ArticleCard {
    width: 100%;
    height: 150px !important;
    object-fit: cover;

    // border: solid 1px rgb(248, 0, 0);
  }

  .Card--BodyArticle {
    padding: 15px;
    .tag {
      background-color: #ccc;
      color: #fff;
      border-radius: 50px;
      font-size: 12px;
      margin: 0;
      padding: 2px 10px;
      text-transform: uppercase;
    }

    .tag-teal {
      background-color: #92d4e4;
    }

    .tag-purple {
      background-color: #3d1d94;
    }

    .tag-pink {
      background-color: #c62bcd;
    }

    .Article-CardTitle{
      font-family: var(--header-font);
      font-size: 22px;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .pArticle {
      font-family: var(--content-font);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;
    //   margin: 0 0 40px 0;
      font-weight: 500;
      color: rgb(70, 68, 68);
      border: solid 1px red;
    }

    .Img__CardAuthor {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
        margin-top: auto;
      }
  }
  .div_User {
    border: solid 1px red;
    

    
    
      .div__userInfo {
        margin: 0;
      }
  }

  
}
