@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// [Section] Colors

$primary: #81899b;
$accent: #302e24;
$bgdiv: #f6f9fb;
$warn: #dfa612;
$headerfont-color: #383838;
$contentfont-color: #7a7a7a;

// [Section] Fonts

$header-font: "Poppins", sans-serif;
$content-font: "Source Serif Pro", serif;

:root {
  // !! COLORS
  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --bgdiv: #{$bgdiv};
  --headerfont-color: #{$headerfont-color};
  --contentfon-color: #{$contentfont-color};

  // !! FONTS
  --header-font: #{meta.inspect($header-font)};
  --content-font: #{meta.inspect($content-font)};
}
// SPINNER
.ant-spin-lg .ant-spin-dot i {
  width: 24px;
  height: 24px;
  margin: 18px;
}

.ant-spin-dot-item {
  background-color: rgb(
    48,
    43,
    43
  ) !important; 
}
//
.JumbotronSpinner {
  background-color: #ccccccd6;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.carousel-home {
  // height: 100vh;
  // border: red 2px solid;

  .carousel-item::before {
    content: "";
    background: #ffffff url(../../Img/Bulan-Tourism/CoastalWater-cln.jpg)
      no-repeat right top;
    background-size: cover;
    //  border: solid pink 3px;
    position: absolute;
    height: 40rem;
    width: 100%;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(0.8px);
    z-index: -1;
  }
  .carousel-item {
    background: #ffffff url(../../Img/Bulan-Tourism/CoastalWater-cln.jpg)
      no-repeat right top;
    background-size: cover;
    position: relative;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid rgb(51, 0, 255);

    .carousel-container {
      min-height: 18rem;
      // border: 2px solid orange;
      width: min(85%, 38rem);
      padding: 18px 24px;

      & span {
        color: white;
        font: clamp(1.4rem, 10vw + 1rem, 2.8rem) var(--content-font);
        display: block;
        transform: translateX(50%) translateY(-500%) scale(2);
        transition: transform 1.7s, scale 1.7s;
        b {
          color: greenyellow;
          // font-weight: bolder;
          font: clamp(1.6rem, 10vw + 1rem, 4rem) var(--header-font);
        }
      }

      & .crs1-btn {
        opacity: 0;
        margin-top: 16px;
        padding: 5px 15px;
        color: #fefefe;
        border: none;
        background-color: rgba(255, 0, 0, 0.845);
        border-radius: 5px;
        font-family: var(--header-font);
      }

      // loaded
      & span.loaded {
        transform: translateX(0) translateY(0) scale(1);
      }

      & .crs1-btn.loaded2 {
        // transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
        transition: opacity 2s;
      }
    }
  }
  // content: "";
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 450px;
  // background-color: rgba(26, 22, 28, 0.797);
}

// [Section] MEDIA QUERIES

@media only screen and (max-width: 600px) {
  .carousel-home {
    // height: 100vh;
    // border: red 2px solid;

    .carousel-item {
      background: #ffffff url(../../Img/Bulan-Tourism/CoastalWater-cln.jpg)
        no-repeat center;
      background-size: cover;
      // height: 40rem;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // border: 2px solid rgb(51, 0, 255);

      .carousel-container {
        // min-height: 16rem;
        // border: 2px solid orange;
        // width: min(85%, 34rem);
        // padding: 18px 24px;
        text-align: center;

        & span,
        p {
          color: white;
          font: clamp(1.5rem, 10vw + 1rem, 2rem) var(--header-font);
          display: block;
          b {
            color: greenyellow;
            font-size: clamp(1.7rem, 10vw + 1rem, 3rem);
          }
        }

        & .crs1-btn {
          // opacity: 0;
          // padding: 5px 15px;
          // color: #fefefe;
          // border: none;
          // background-color: rgba(255, 0, 0, 0.845);
          // border-radius: 5px;
        }
      }
    }
  }
}
// animation entrance
