.div--Prefooter {
  background-color: #000000;
  overflow-x: hidden;
  /* border: 5px solid red */
}

.img__prefooterlogo {
  padding: 20px;
  width: 300px;
  height: 300px;
  margin: 30px 10px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
@media screen and (min-width: 476px) {
  .div-prefooter-logo {
    /* position: relative; */
    /* border: solid 2px yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img__prefooterlogo {
    /* position: absolute; */
    padding: 10px;
    width: 300px;
    aspect-ratio: 1;
    padding: 30px;
    /* left: 20px; */
    /* background-color: aqua; */
    /* z-index: 1; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .ftr-itm-dsc {
  }
  .ftr-itm-title {
    font-size: 1.3rem;
    /* line-height: 23px;
    word-wrap:normal; */
  }
}

.div__PrefooterContact {
  padding: 25px;
  color: #eef0f1;
}

.div__PreFooterPhoneNumbers {
  padding: 25px;
  color: #eef0f1;
}

/* ICONS PREFOOTER */
.prefooterIcon-1 {
  font-size: 30px;
}

.departmentPhoneIcons{
    width: 50px;
    aspect-ratio: 1;
}