.page-banner-container {
  background-image: url("https://res.cloudinary.com/dwfd6pzm5/image/upload/v1687415463/bulan1_adb78cf972.jpg");
  // border: solid 2px brown;
  height: 475px;
  position: relative;
  // overflow: hidden;
  background-size: auto cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  // border: solid yellow 2px;
  .banner-page-title {
    z-index: 1;
    margin: 24px 16px 88px 16px;
    padding: 8px 16px 48px 16px;

    // border: solid red 2px;
    & h1 {
      font-size: 3.9rem;
      color: #2ee778;
    }

    & .span-bar {
      margin: 10px 0;
      height: 4px;
      width: 11rem;
      background-color: #2ee778;
      z-index: 1;
    }

    & .span-bar::after {
      margin: 10px 110px;
      display: block;
      content: "";
      height: 4px;
      width: 4.2rem;
      background-color: #d5e72e;
      z-index: 1;
    }
  }

  // FOR CLIP PATH
  .custom-shape-divider-bottom-1685689813 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1685689813 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 87px;
  }

  .custom-shape-divider-bottom-1685689813 .shape-fill {
    fill: #ffffff;
  }
  //
}

.page-banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 475px;
  z-index: -1;
  background-color: rgba(26, 22, 28, 0.797);
}
